table
{
	border: 2px solid black;
	border-collapse: collapse;
	text-align: center;
}
td
{
	border-top: 2px solid black;
	border-right: 2px solid black;
}
th
{
	border-right: 2px solid black;
}
a 
{
    text-decoration: none; 
} 
.blue
{
	color: blue;
	
}
.red
{
	color: red
}
.green
{
	color: green;
}
.Math
{
	padding-left: 100px;
}
.bold
{
  font-weight: bold;
}
.italic
{
	font: italic;
}
